
.card-footer{
    background-color: rgb(0, 0, 0) !important;
    padding-left: 25px !important;
}

.card-img-top{
    height:auto !important;
    width: auto !important;
    border-radius: 20% !important;
    border: thick !important;
}